.navbar-container {
    position: sticky;
    width: 100%;
    height: 70px;
    background: whitesmoke;
    z-index: 999;
    top: 0;
}

.logo-container {
    display: inline-block;
    line-height: 70px;
    margin-left: 40px;
}

.logo-container img {
    vertical-align: middle;
}

.logo {
    width: 50px;
}

.logo:hover {
    cursor: pointer;
}

.lettering {
    width: 110px;
    padding: 10px;
}

.options-container {
    float: right;
    margin-right: 40px;
    line-height: 70px;
}

.option {
    color: inherit;
    line-height: normal;
    transition: 0.4s;
}

@media only screen and (min-width: 800px) {
    .hamburger {
        display: none;
    }

    .close-menu {
        display: none;
    }

    .options {
        display: block;
    }

    .option {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 800px) {
    .logo-container {
        margin-left: 20px;
    }

    .options-container {
        margin-right: 20px;
    }

    .hamburger {
        width: 30px;
        vertical-align: middle;
    }

    .close-menu {
        position: absolute;
        right: 40px;
        top: 20px;
        font-size: 50px;
    }

    .options {
        display: none;
    }

    .option {
        display: block;
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .open-options {
        position: absolute;
        background-color: whitesmoke;
        display: table;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
    }

    .menu-options {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

    .close-menu {
        display: block;
    }
}