.accordion-card {
    border-radius: 0 !important;
    border-color: black !important;
}

.accordion-card-header {
    padding: 0 !important;
    background: white !important;
    border: none !important;
}

.accordion-toggle {
    width: 100%;
    text-decoration: none !important;
    padding: 15px !important;
    color: black !important;
}

.accordion-title {
    float: left;
    text-align: left;
    width: 90%;
}

.collapsible-link {
    position: relative;
}

.collapsible-link::before {
    content: '';
    width: 14px;
    height: 2px;
    background: #333;
    position: absolute;
    top: calc(50% - 1px);
    right: 1rem;
    display: block;
    transition: all 0.3s;
}

.collapsible-link::after {
    content: '';
    width: 2px;
    height: 14px;
    background: #333;
    position: absolute;
    top: calc(50% - 7px);
    right: calc(1rem + 6px);
    display: block;
    transition: all 0.3s;
}

.collapsible-link[aria-expanded='true']::after {
    transform: rotate(90deg) translateX(-1px);
}

.collapsible-link[aria-expanded='true']::before {
    transform: rotate(180deg);
}