.video-background {
    position: relative;
    top: 0;
    height: 100vh;
}

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.front-text {
    color: whitesmoke;
    text-align: center;
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    z-index: 100;
}

.video-text {
    display: table-cell;
    vertical-align: middle;
}

.video-text * {
    text-align: center;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

@media only screen and (min-width: 800px) {
    .video-text * {
        font-size: 50px;
    }
}

@media only screen and (max-width: 800px) {
    .video-text * {
        font-size: 4vh;
    }
}