.videoBackground {
    position: relative;
    top: 0;
    height: 100vh;
}

.videoContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.frontText {
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    z-index: 100;
}

.videoText {
    display: table-cell;
    vertical-align: middle;
}

@media only screen and (min-width: 800px) {
    .videoText {
        font-size: 50px;
    }
}

@media only screen and (max-width: 800px) {
    .videoText {
        font-size: 4vh;
    }
}